@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --fonte-principal: 'Inter', sans-serif;
    --cor-fundo: #a38aff;
    --cor-texto: #ffffff;
    --cor-primaria: #ffffff;
    --cor-primaria-escura: #ffffffcc;
    --cor-cabecalho: #ffffff;
    --cor-cartao-fundo: #000000;
    --sombra: 0 0 0.625rem var(--cor-primaria);
    --sombra-hover: 0 0 1.25rem var(--cor-primaria), 0 0 2.5rem var(--cor-primaria-escura);
    font-size: 16px;
}

body {
    margin: 0;
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

header {
    background-color: var(--cor-cabecalho);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo {
    height: 60px;
}

.logo_casal {
   margin-left: 59%;
    height: 55px;
}

.imagem__casal{
    margin-top: rem;
    width: 27.8rem;
}
nav a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 0.9rem;
}


.hero h1 {
    font-size: 5.5rem;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
    margin-left: 3rem;
   
}

.hero .btn:hover {
    box-shadow: var(--sombra-hover);
}

.hero p {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #000000;
    margin-left: 3.5rem;
}

.botão_01 {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin: 2rem 0;
    margin-bottom: -4rem;
    padding: 2rem;
    margin-left: 2rem;
    text-align: center;
}

.botão_01 a {
    background: #000000;
    color: var(--cor-texto);
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 20rem;
    font-weight: bold;
    text-decoration: none;
}

.botão_01 a:hover {
    box-shadow: var(--sombra-hover);
}

.titulo_confianca{
    font-family: var(--fonte-principal);
    font-size: 3rem;
    color: #000000;
    margin-left: 46rem;
    margin-bottom: 13rem;
    margin-top: -12rem;
}

 .pagina__texto {
    font-size: 1.25rem;
    margin-top: -14rem;
    margin-bottom: 0.7rem;
    margin-left: 45rem;
    color: #000000;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.pagina_2 {
    height: 46rem;
    background-color: #ead4ff;
}

.logo__mao {
    margin-left: 5rem;
    margin-top: 9rem;
    height: 20rem;
    border-radius: 8rem;
}

.pagina_3 {
    margin-top: -12rem;
    height: 49rem;
    background-color: var(--cor-primaria);
    margin-bottom: 8rem;
}

.titulo_celular {
    color: #000000;
    font-family: var(--fonte-principal);
    font-size: 3rem;
    margin-top: -25rem;
    margin-left: 7rem;
}

.texto_celular {
    color: #000000;
    font-size: 1.3rem;
    margin-left: 7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo__celular {
    margin-left: 26rem;
    margin-top: 12rem;
    height: 37rem;
}

.btn_registre  {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 3rem;
    margin-bottom: 10rem;
    margin-left: 10rem;
    text-align: center;
}

.botao_registre a {
    background: #ffffff;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 15px;
    text-decoration: none;
}

.pagina_4 {
    height: 45rem;
    background-color: #e3c5ff;
    margin-top: -8rem;
}

.titulo_mulher {
    color: #000000;
    font-size: 2rem;
    margin-left: 50rem;
    margin-top: 10rem;
}

.texto_mulher {
    color: #000000;
    font-size: 1.3rem;
    margin-left: 50rem;
    margin-top: -32rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo_mulher {
    height: 45rem;
    margin-top: -0.01rem;
}

.pagina_5 {
    margin-top: -8rem;
    height: 100vh;
    background-color: #F6EDFF;
}

.titulo_seguranca {
    margin-top: -14rem;
    color: #000000;
    font-size: 2.5rem;
    margin-left: 49rem;
}

.texto_seguranca {
    color: #000000;
    font-size: 1.3rem;
    margin-left: 49rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn_seguranca  {
    display: inline-block;
    padding: 15px 50px;
    margin-top: 3rem;
    margin-bottom: 10rem;
    margin-left: 49rem;
    text-align: center;
}

.botao_seguranca a {
    background: #ffffff;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.botao_seguranca a:hover {
    color: #ffffff;
    background-color: #131313;
}

.logo_guarda_chuva {
    height: 22rem;
    margin-top: 8rem;
    margin-left: 5rem;
    border-radius: 35px;
}

.correcao_main {
    height: 5rem;
    background: #c9b0e7;
}


.pagina_6 {
    height: 30rem;
    background-color: #c9b0e7;
    margin-top: -10rem;
}

.titulo_conexoes {
    color: #000000;
    margin-left: 5rem;
    font-size: 2.8rem;
    margin-top: 10rem;
    background-color: #c9b0e7;
}

.texto_conexoes {
    color: #000000;
    margin-left: 4rem;
    font-size: 1.4rem;
    margin-top: -2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ultima_imagem {
    margin-left: 25rem;
    height: 27.5rem;
    margin-bottom: 9rem;
    margin-top: -2.18rem;
}

.pagina_7 {
    margin-top: 13rem;
    margin-left: 8rem;
    background-color: #A38AFF;
    margin-bottom: 6rem;
}

.borda {
    background-color: #ffffff;
    padding: 70px;
    border-radius: 13px;
    width: 70rem;
    max-width: 150rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none;
}

.content ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
}

.social h3 {
    font-size: 19px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    margin-left: 6rem;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-right: 3rem;
}

.social-icons .icon img {
    width: 60px;
    height: 30px;
    transition: transform 0.3s;
    height: 4rem;
}

.social-icons .icon img:hover {
    transform: scale(1.1);
}

.playstore {
    display: flex;
    gap: -5rem;
    margin-right: 10rem;
    margin-top: 4rem;
    margin-left: -3rem;
}

.playstore img {
    width: 10rem;
    height: 4rem;
}
